/*****************CSS *****************/

/**/
/***************** GENERAL HTML ELEMENTS *****************/

html {
  background: repeating-linear-gradient(75deg, #fff, #efefef 3px, #000 3px);
  line-height: 1.4rem;
}

@-moz-document url-prefix() {
  html {
    font-size: 1.3rem;
  }
}

body {
  margin: 3rem auto; padding: 0;
  font-family: 'Nunito Sans', Verdana, sans-serif;
}

h1 {
  font-weight: 800;
  margin-bottom: 0;
}


a {
  color: #29856c;
  text-decoration: none;
}

/**/
/***************** NAVGATION BAR / TOPBAR  *****************/
nav {
  position: fixed; top: 0; left: 0; z-index: 1;
  width: 100%;
  font-family: Dosis, sans-serif;
  text-transform: uppercase;
  line-height: 4.5rem;
}

nav ul {
  background: #fff;
  border-bottom: 0;
  display: inline-block;
  margin: 0; padding: 0;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0; padding: 0 7px;
  border-right: 1px dotted #333;
  border-bottom: 1px dotted #333;
  font-size: 1.3rem;
}

nav ul li.wide:nth-child(3) {
  border-top: 1px dotted #333;
}

nav li:hover {
  background-color: #c9f9ed;
  color: #333;
}

.socialMenu {
  display: inline-block;
  float: right;
}

.socialMenu li {
  border-left: 1px dotted #333;
  border-right: 0;
}

/**/
/***************** PAGE TITLE HEADERS  *****************/
header h1 {
  font-size: 5em;
  line-height: 40%;
}

aside {
  width: 96%;
  margin-top: 14px;
  text-align: center;
}

aside img {
  max-width: 200px;
  height: auto;
  margin: 70px auto 0px;
  border: 1px solid #ddd;
  opacity: 0.9;
  transition: ease-in-out .5s;
  animation: changeBorder 5s ease-in-out infinite;
}

@keyframes changeBorder {
  0% { border-radius: 120px 30px; background: aliceblue;}
  50% { border-radius: 30px 120px; filter: grayscale(70%); background: rgb(229, 120, 161, 0.7);}
  100% { border-radius: 120px 30px; background: aliceblue;}
}

aside img:hover {
  filter: grayscale(100%);
}

header h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

header p {
  margin-top: 1px;
}

.selectBar {
  width: 100%
  margin: 14px 21px;
  padding: 14px;
  background: rgb(255, 255, 255, 0.7);
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align:  left;

}

.selectBar, .selectBar label, .selectBar option {
  font-weight: 600;
  font-variant: small-caps;
}

/**/
/***************** PAGE BODY  *****************/
#wrapper {
  text-align: center;
}

main {
  width: 96%;
  margin: 14px auto 4rem;
  text-align: left;
}

main figure {
  display: inline-block;
  float: left;
  width: 23%;
  margin: auto 1%;
}

main img, main figcaption {
  max-width: 100%;
}

section {
  background: rgb(255, 255, 255, 0.7);
  margin-top: 14px;
  padding: 7px 2%;
  border-top: 1px dotted #ccc;
  border-right: 1px dotted #bbb;
  border-bottom: 1px dotted #aaa;
  border-left: 1px dotted #ddd;
  transition-duration: 2s;
}

.portfolio div {
  padding: 7px 2% 0;
  margin-bottom: 21px;
  border-bottom: 1px dotted #333;
  transition-duration: 3s;
  animation: changePortfolio 30s ease-in-out infinite;
}

@keyframes changePortfolio {
0% { border-bottom: 1px dotted #333; border-left: 1px dotted #333; border-radius: 0 0 0 3px; background: rgb(201, 249, 237, 0.5);}
50% { border-bottom: 1px dotted #f2f3fb; border-left: 1px dotted #777; background: rgb(255, 255, 255, 0.7);}
100% { border-bottom: 1px dotted #333; border-left: 1px dotted #333; border-radius: 0 0 0 6px; background: rgb(201, 249, 237, 0.5);}
}

.portfolio h4 {
  color: #e51470;
}

.activao {
  position: absolute;
  top: 5rem;
  left: 1%;
  width: 93%;
  background-color: #c9f9ed;
  padding-bottom: 42px !important;
}

.activao h1 {
  font-size: 2.5rem;
  line-height: 85%;
}

section h2, section h3 {
  clear: both;
  width: 100%;
}

.blog {
  display: block;
}

.blog > section {
  margin: 7px 1%;
  transition: ease-in 0.5s;
}

.blog > section:hover {
  background-color: #c9f9ed;
}

.blog img {
  display: block;
  margin: auto;
  max-width: 90%;
  border: 1px dotted #333;
}

.more {
  display: none;
}

.active .more {
  display: block;
}

/**/
/*****************FOOTER *****************/
footer {
  position: fixed; bottom: 0; left: 0; z-index: 1;
  width: 100%;
  background: #fff;
  text-align: right;
  border-top: 1px dotted #333;
  line-height: 3rem;
}

nav p, footer p  {
  margin: 0 14px;
  color: #333;
}

/**/
/***************** MINOR FORMATS *****************/
.half, .third {
  width: 96%;
  margin-left: 2%;
}

.rigtheao {
  text-align: right;
}

.purple {
  color: #e51470;
}

.greenButton {
  display: block;
  margin: auto;
  transform: translate3d(40%, 0px, 0px);
  background-color: #ddd;
  border: 1px dotted #333;
  font-variant: small-caps;
}

.fab {
  vertical-align: middle;
}

.open {
  display: inline-block;
}

.wide, .close {
  display: none;
  width: 100vw;
}

details, details ul {
  margin-left: 7px;
}

details summary > * {
  display: inline;
}

details ul {
  margin: 4px auto;
  padding: 0px 21px;
  font-size: inherit;
}

aside details ul li {
  list-style: none;
}

.hidden {
  display: none;
}

.enlarge {
  float: left;
  width: 60%;
  text-align: center;
  border: 1px dotted;
  margin: 2%;
}

.enlarge:hover {
  width: 100%;
  transition-duration: 2s;
}

.reseteao {
  clear: both;
}

.centrao {
  margin: auto;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 0.7em;
}

.sectionClose {
  display: block;
  float: right;
  color: #000;
  margin: 21px 0 21px 21px;
}

.magic {
  visibility: hidden;
}

/** RESPONSIVE DESIGN **/
/*General adjustments for screens over 1024px*/
@media all and (min-width: 1024px) {
  main {
    width: 90%;
  }
}

@media all and (min-width: 1024px) {
.blog {
  display: grid;
  grid-template-columns: auto auto;
  }
}

/* Menu adjustments for screens over 768px */
@media all and (min-width: 768px) {
  nav ul, .open, .close {
    border: 0;
  }
}

@media all and (min-width: 768px) {
  .mainMenu {
    border-right: 1px dotted #333;
    border-bottom: 1px dotted #333;
  }
}

@media all and (min-width: 768px) {
  nav ul li {
    border: 0;
    border-top: 1px dotted #333;
  }
}

/* Menu adjustments for screens over 1024px */
@media all and (min-width: 1024px) {
  .mainMenu {
    border: 0;
  }
}

@media all and (min-width: 1024px) {
  .open, .close {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  nav ul li, .wide {
    float: left;
    display: inline-block;
    width: inherit;
    border-top: 0 !important;
    border-right: 1px dotted #333;
    border-bottom: 1px dotted #333;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    line-height: 3rem;
  }
}

/*Post pages and page elements for screens over 1024px*/
@media screen and (min-width: 1024px) {
  .activao {
    top: 5rem;
    left: 23%;
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .enlarge {
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .enlarge:hover {
    width: 80%;
  }
}

@media all and (min-width: 1024px) {
  .enlarge {
    width: 30%;
  }
}

@media all and (min-width: 1024px) {
  .enlarge:hover {
    width: 60%;
  }
}

@media all and (min-width: 1600px) {
.enlarge {
  width: 20%;
  }
}


/*In-page elements for screens over 1024px*/
@media all and (min-width: 1024px) {
  .half {
    float: left;
    width: 45%;
    padding: 1%;
    margin-bottom: 14px;
  }
}

@media all and (min-width: 1024px) {
  .third {
    float: left;
    width: 29%;
    padding-right: 2%;
    margin-bottom: 14px;
  }
}

@media all and (min-width: 1024px) {
  details, details ul {
      margin: 4px auto;
  }
}
