/***************** FONT SHENANIGANS *****************/
/**/

@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 300;
  src: url('../utils/geologica-v1-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url('../utils/geologica-v1-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 900;
  src: url('../utils/geologica-v1-latin-900.woff2') format('woff2');
}

html {
  font-family: monospace, sans-serif;
}

header,
footer {
  font-family: monospace, system-ui, Courier;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Geologica';
}

main p,
main ul,
main li {
  font-family: sans-serif, 'Geologica';
}

/**/
/***************** GENERAL HTML ELEMENTS *****************/

body {
  margin: auto;
  padding: 0;
  text-align: left;
}

h1 {
  font-weight: 900;
  margin-bottom: 0;
}


a,
.options li {
  text-decoration: none;
}

a {
  color: #e51470;
}

h2 a {
  color: black;
}

a:hover,
.options li:hover {
  color: black;
  background-color: yellow;
  border-radius: 3px;
  border: 1px black dotted;
}

h2 a:hover {
  background-color: inherit;
  border: 0;
  color: #333;
}

header ul,
header li,
footer ul,
footer li,
.options ul,
.options li {
  display: inline;
  margin-left: none;
  margin-right: 3px;
  padding: 0;
}

.wide {
  margin-right: 7px;
}

.imagelink:hover {
  background: none;
  letter-spacing: 0;
  padding: 0;
  border: 0;
}

header .left a:hover {
  background: none;
  border: none;
  padding: 0;
}

header .left img:hover {
  border-color: white;
}

/**/
/***************** HEADER  *****************/
header,
footer {
  width: 100%;
  background: black;
  border-bottom: pink 1px solid;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-bottom: 0;
  border-top: pink 1px solid;
  padding: 0;
  font-size: 0.8em;
  color: white;
}

header .wrap {
  width: 80%;
  margin: auto;
  margin-top: 1em;
}

.left {
  float: left;
  width: auto;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
}

#emoticons {
  display: block;
}

header img.profile {
  max-width: 80px;
  height: auto;
  border: 3px solid #ddd;
  background: rgb(182, 102, 228);
  filter: grayscale(30%);
  transition: ease-in-out;
  animation: changeBG 16s linear infinite;
}

@keyframes changeBG {
  0% {
    background: rgb(182, 102, 228);
  }

  50% {
    background: rgb(131, 232, 236);
  }

  100% {
    background: rgb(182, 102, 228);
  }
}

header img.profile:hover {
  filter: grayscale(0%);
  background: rgb(201, 128, 243);
}

header h1,
footer h1 {
  display: inline-block;
  color: white;
  margin-left: 7px;
}

.blink {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: black;
  }
}

header a,
footer a {
  color: white;
}

header a:hover,
footer a:hover {
  letter-spacing: 3px;
  padding: 0 3px;
}

header .socialMenu {
  margin-right: 10%;
  float: right;
}

header .socialMenu a {
  margin-right: 7px;
}

header .socialMenu a:hover {
  color: black;
  background: mediumaquamarine;
  padding-left: 7px;
}

.socialMenu img {
  width: 21px;
}

nav img {
  width: 50px;
}

.open .fas {
  transform: scale(1.5, 1.5);
}

footer div {
  display: inline-block;
}

footer p,
footer ul {
  margin: 0;
}

footer nav {
  float: left;
}

/**/
/***************** MAIN BODY  *****************/
main {
  width: 80%;
  margin: 14px auto 4rem;
  text-align: left;
}

#wrapper {
  margin: auto;
}

section {
  position: relative;
  width: 100%;
  margin: 35px auto;
  background: rgb(255, 255, 255);
  border: 2px solid #404040;
  border-radius: 7px;
  padding: 0;
  z-index: 0;
}

section:first-child {
  margin-top: 0;
}

section.last,
section:last-child {
  margin-bottom: 75px;
}

.topper {
  display: block;
  width: 100%;
  border-bottom: 2px solid #404040;
}

.topper p {
  text-align: right;
  font-size: xx-large;
  margin: -5px 7px 0 5px;
  font-weight: 600;
  font-variant: small-caps;
}

.topper .lefteao .includer:after {
  content: '(click window to bring to top)';
  font-size: small;
}

.topper .righteao .includer::before {
  content: '\2b24\20\2b24';
  font-size: large;
}

.internal {
  margin: 1em 2%;
}

.internal h2 {
  margin: 0 0 7px 0;
  font-size: xx-large;
  border-bottom: 1px dotted;
}

.flexie {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.flexie .group {
  flex-basis: 100%;
}

.flexie h3 {
  margin-bottom: 0;
}

.flexie ul,
.flexie li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
}

.options {
  font-size: smaller;
  padding-left: 0;
}

.options li {
  margin-right: 7px;
  padding: 1px 7px;
  cursor: default;
  border-radius: 3px;
  border: 1px black solid;
}

.active,
.options li:hover {
  color: black;
  background: yellow;
  border-radius: 3px;
  border: 1px black dotted;
}

.short,
.medium,
.long {
  display: none;
}

.short {
  display: block;
}

#blogwrap .internal .more {
  display: block;
  float: right;
  padding: 7px 14px;
  background-color: black;
  border: 1px solid #404040;
  border-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
}

#blogwrap .internal .more a {
  color: white;
}

#blogwrap .internal .more:hover {
  background: yellow;
  color: black;
  border: 1px dotted black;
  border-bottom: 0;
}

#blogwrap .internal .more:hover>* {
  color: black;
}

#blogwrap .internal .more a:hover {
  color: inherit;
  border: none;
}

.article .topper {
  background: yellow;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.article .topper:hover {
  background: none;
}

.article .topper .righteao .includer::before {
  content: '\2715';
  font-size: x-large;
  font-weight: 600;
  margin-right: 7px;
}

.article .topper .righteao a {
  color: black;
}

.article .topper .righteao a:hover {
  border: none;
  background: none;
  color: #e51470;
}

#blogwrap .internal details[open] summary {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  line-height: 2;
  text-align: right;
  border: 0;
  border-bottom: 1px solid #444;
  padding: 0;
  padding-bottom: 1px;
}

#blogwrap .internal details summary .includer {
  padding-right: 14px;
}

#blogwrap .internal details[open] summary .includer::before {
  content: '\2715';
  font-size: large;
  font-weight: 600;
}

.portfolio h3,
.publications h3 {
  border-bottom: 1px dotted #404040;
  font-variant: small-caps;
}

.portfolio .group p,
.publications .group p {
  clear: both;
}

.cartago {
  display: block;
  float: left;
  margin: 0 0 7px 0;
  padding: 7px 14px;
  background: gainsboro;
  border: 1px dotted #404040;
  border-top: 0;
  cursor: pointer;
}

.cartago:hover {
  background: #404040;
  color: white;
}

.cartago a {
  color: inherit;
}

.cartago a:hover {
  border: 0;
  color: inherit;
  background: #404040;
}

.stacks li {
  display: inline;
  background: yellow;
  border: 1px dotted black;
  padding: 1px 7px;
  margin: 2px;
  line-height: 1.7em;
}

.stacks li::before {
  content: '';
}

.minimised {
  position: fixed;
  bottom: 0;
  color: transparent;
  min-width: 0;
  height: 7%;
  overflow: hidden;
  margin-bottom: 0 !important;
  margin-left: 1%;
  border: 2px solid black;
}

section:nth-child(3n).minimised {
  margin-left: 1%;
}

section:nth-child(even).minimised {
  float: left;
}

.minimised .lefteao {
  width: 100%;
  margin: 0;
}

#catbar {
  margin-bottom: 14px;
}

#catbar button {
  background: white;
  padding: 3px 7px;
  margin: 3px;
  font-size: large;
  font-variant: small-caps;
  border: 1px dotted #f2f3fb;
  box-shadow: 2px 2px 2px black;
  transform: skewX(-5deg);
}

#catbar button:hover {
  background: yellow;
  border: 1px dotted black;
  box-shadow: 1px 1px 0 black;
}

#loadBlogs {
  clear: both;
  text-align: center;
}

#loadBlogs button {
  min-width: 40%;
  margin-top: 75px;
  background: #e51470;
  font-variant: small-caps;
  font-size: xx-large;
  border: 1px dotted #f2f3fb;
  box-shadow: 7px 7px 7px black;
  transform: skewX(-5deg);
}

#loadBlogs button:hover {
  background: yellow;
  border: 1px dotted black;
  box-shadow: 7px 3px 0 black;
}

/**/
/***************** MINOR FORMATS *****************/
.half,
.third {
  width: 96%;
}

.lefteao {
  float: left;
  text-align: left;
}

.rigtheao {
  float: right !important;
  text-align: right;
}

.centrao {
  margin: auto;
  text-align: center;
}

.purple {
  color: #e51470;
}

.bg-black {
  background-color: #000;
  color: #f2f3fb;
  padding: 0 3px;
  border: 1px dotted yellow;
}

.bg-black:hover {
  background-color: #333;
  color: yellow;
  cursor: grab;
}

.fab {
  vertical-align: middle;
}

.open {
  display: inline-block;
  padding: 0 15px;
  color: white
}

.wide,
.close {
  display: none;
  width: 100vw;
  color: white
}

.hidden,
.invisible {
  display: none;
}

.blogimage {
  margin: auto;
  max-width: 30%;
  margin-bottom: 14px;
  text-align: center;
  border: 1px dotted;
}

.blogimage img {
  width: 100%;
}

.blogimage:hover {
  max-width: 100%;
  transition-duration: 2s;
}

.reseteao {
  clear: both;
}

figcaption {
  font-style: italic;
  font-size: 0.7em;
}

.magic {
  visibility: hidden;
}

/** RESPONSIVE DESIGN **/
/*Ad-hoc adjustments for very small screens*/

/*Adjustments for screens over 768px*/
@media all and (min-width: 768px) {
  section {
    float: left;
    margin: -60px auto;
    min-width: 60%;
    max-width: 80%;
  }

  section:nth-child(even) {
    float: right;
  }

  section:nth-child(3n) {
    margin-left: -5%;
  }

  section:nth-child(4n) {
    margin-right: 5%;
  }

  section:nth-child(2n) h2 {
    text-align: right;
  }

  section:nth-child(4n) h2 {
    text-align: right;
  }

  .flexie .group {
    flex-basis: 46%;
    padding: 1%;
  }

  .flexie h4 {
    font-size: small;
    margin: 3px auto 0;
  }

  .flexie ul,
  .flexie ul li {
    font-variant: small-caps;
    margin: 0;
  }

  .flexie ul li {
    font-variant: normal;
    font-size: small;
    font-weight: 300;
  }

  #blogwrap .internal details summary {
    background-color: #404040;
    border: 0;
  }

  #blogwrap .internal details summary:hover {
    border-bottom: 0;
  }
}

/*Adjustments for screens over 1024px*/
@media all and (min-width: 1024px) {
  nav {
    text-align: right;
    margin-top: 0;
  }

  .open,
  .close {
    display: none;
  }

  .wide {
    display: inline-block;
    width: inherit;
  }

  .half {
    width: 45%;
    padding: 1%;
  }
}