/*****************CSS *****************/

/**/
/***************** GENERAL ELEMENTS *****************/

html {
  background:
    repeating-linear-gradient(75deg, #fff, #efefef 3px, #000 3px);
  font-size: 1rem;
  line-height: 1.4rem;
}

body {
  margin: 3rem auto; padding: 0;
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Oxanium;
  letter-spacing: -0.04em;
  margin-bottom: 0;
  line-height: 100%;
}

p {
  font-size: 1rem;
}

a {
  color: #29856c;
  text-decoration: none;
}

/**/
/***************** NAV TOPBAR & FOOTER *****************/

nav {
  position: fixed; top: 0; left: 0; z-index: 1;
  width: 100%;
  font-family: Dosis;
  font-size: 0;
  text-transform: uppercase;
  line-height: 3rem;
}

nav ul {
  background: #fff;
  border-bottom: 1px dotted #333;
  display: inline-block;
  margin: 0; padding: 0;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 0; padding: 0 7px;
  border-right: 1px dotted #333;
  font-size: 1.1rem;
}

nav li:hover {
  background-color: #c9f9ed;
  color: #333;
}

.socialMenu {
  display: inline-block;
  float: right;
}

.socialMenu li {
  border-left: 1px dotted #333;
  border-right: 0;
}

footer {
  position: fixed; bottom: 0; left: 0; z-index: 1;
  width: 100%;
  background: #fff;
  text-align: right;
  border-top: 1px dotted #333;
  line-height: 3rem;
}

nav p, footer p  {
  margin: 0 14px;
  font-size: 0.8rem;
  color: #333;
}

/***************** PAGE CONTENT *****************/

aside {
  width: 100%;
  margin-top: 14px;
  text-align: center;
}

aside img {
  max-width: 200px;
  height: auto;
  margin: 70px auto 0px;
  border: 1px solid #ddd;
  opacity: 0.9;
  transition: ease-in-out .5s;
  animation: changeBorder 5s ease-in-out infinite;
}

@keyframes changeBorder {
  0% { border-radius: 120px 30px; background: aliceblue;}
  50% { border-radius: 30px 120px; filter: grayscale(70%); background: none;}
  100% { border-radius: 120px 30px; background: aliceblue;}
}

aside img:hover {
  filter: grayscale(100%);
}

#wrapper {
  text-align: center;
}

header h1, .activao h1 {
  font-size: 2.5rem;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

header p {
  margin-top: 1px;
}

main {
  width: 60%;
  margin: 14px auto 4rem;
  text-align: left;
}

main figure {
  display: inline-block;
  float: left;
  width: 23%;
  margin: auto 1%;
}

main img, main figcaption {
  max-width: 100%;
}

section {
  background: rgb(255, 255, 255, 0.7);
  padding: 7px 2%;
  border-top: 1px solid #ddd;
  border-right: 1px solid #eee;
  border-bottom: 1px dotted #aaa;
  border-left: 1px dotted #bbb;
  border-radius: 7px;
  transition-duration: 2s;
}

.activao {
  position: absolute;
  top: 42px;
  left: 23%;
  background-color: #c9f9ed;
  width: 50%;
  padding-bottom: 42px !important;
}

section h2, section h3 {
  clear: both;
  width: 100%;
}

.education, .experience {
  float: left;
  width: 50%;
  margin-bottom: 14px;
}

.blog {
  display: grid;
  grid-template-columns: auto auto;
}

.blog > section {
  margin: 7px 1%;
  transition: ease-in 0.5s;
}

.blog > section:hover {
  background-color: #c9f9ed;
}

.blog img {
  display: block;
  margin: auto;
  max-width: 90%;
  border: 1px dotted #333;
}

.more {
  display: none;
}

.active .more {
  display: block;
}

/**/
/***************** MINOR FORMATS *****************/

.purple {
  color: #e51470;
}

.greenButton {
  display: block;
  margin: auto;
  transform: translate3d(40%, 0px, 0px);
  background-color: #ddd;
  border: 1px dotted #333;
  font-variant: small-caps;
}

.fab {
  vertical-align: middle;
}

.open, .close {
  display: none;
}

details ul, details ol, details p {
  font-size: 0.9em;
}

details ul, details p {
  margin: 4px auto;
}

aside details ul li {
  list-style: none;
}

.hidden {
  display: none;
}

.enlarge {
  float: left;
  width: 30%;
  text-align: center;
  border: 1px dotted;
  margin: 2%;
  font-size: 0.7em;
}

.enlarge:hover {
  width: 60%;
  transition-duration: 2s;
}

.reseteao {
  clear: both;
}

.sectionClose {
  display: block;
  float: right;
  color: #000;
  margin-top: 10px;
}

/** RESPONSIVE DESIGN **/

@media all and (max-width: 768px) {
  header, main {
    width: 96%;
  }
}

@media all and (max-width: 768px) {
.blog {
  display: block;
  }
}

@media all and (max-width: 1024px) {
  nav ul {
    /*background: none;*/
    border-bottom: 0px;
  }
}

@media all and (max-width: 1024px) {
  nav ul li {
    border-bottom: 1px dotted #333;
  }
}

@media all and (max-width: 1024px) {
  nav ul li.wide:nth-child(3) {
    border-top: 1px dotted #333;
  }
}

@media all and (max-width: 1024px) {
  .open {
    display: inline-block;
  }
}

@media all and (max-width: 1024px) {
  .wide, .close {
    display: none;
    width: 100vw;
  }
}

@media all and (max-width: 768px) {
  .enlarge {
    width: 40%;
  }
}

@media all and (max-width: 768px) {
  .enlarge:hover {
    width: 75%;
  }
}

@media all and (min-width: 1600px) {
.enlarge {
  width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .activao {
    left: 7%;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .activao {
    left: 1%;
    width: 93%;
  }
}
