---
// IMPORTS
type MultiArray = { [key: string]: string[] };
import { languages } from "@i18n/ui";

// ACTIONS
const { tags, locale, current } = Astro.props;

let dict: MultiArray = {};
Object.keys(languages).map((locale, i) => {
  dict[locale] = tags[i];
});

const filteredTags = dict[locale].sort((a, b) => b.localeCompare(a));

---

<ul class="flex ml-0 list-none capitalize">
  {
    filteredTags.map((tag: string) => (
      <li class={`mx-1 first:ml-0 p-2 border border-black dark:border-white hover:bg-yellow-200 dark:hover:text-black ${tag === current ? "active" : ""}`}>
        <a href={`/tags/${locale}/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>
