---
// IMPORTS
// none
---

<span class="flex items-center justify-center">
	<a href="/rss.xml" aria-label="RSS feed">
		<svg class="w-6 h-6 hover:text-gray-600 hover:animate-roll">
			<use href="/icons/rss.svg#rss"></use>
		</svg>
	</a>

	<!-- Dark mode scripts in styles/global.js, called in layouts/BaseLayout.astro -->
	<svg id="darkie" class="w-6 h-6 hover:animate-roll" aria-label="Dark mode">
		<use href="/icons/darkmode.svg#darkmode"></use>
	</svg>
</span>
